/* Layout geral */
.container {
  min-height: 150vh;
  background: linear-gradient(to bottom, #fff8e1, #ffffff, #fff8e1);
  padding: 2rem;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.searchInput {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  width: 12rem;
}

.searchInput:focus {
  outline: none;
  border-color: #840bf5;
}

.buttonPedido {
  padding: 0.5rem 1rem;
  background-color: #9606d9;
  color: #fff;
  border-radius: 0.375rem;
  cursor: pointer;
}

.buttonPedido:hover {
  background-color: #9124c4;
}


.categorias {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.categoriaBtn {
  padding: 0.50rem 0.75rem;
  border-radius: 9999px;
  border: 1px solid #d1d5db;
  background-color: #fff;
  color: #5f2497;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.categoriaBtnActive {
  background-color: #6c1eb6;
  color: #fff;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardImage {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.cardBody {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.cardTitleRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardTitle {
  font-size: 1.125rem;
  font-weight: 600;
  color: #bc6beb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardPrice {
  font-weight: 700;
  color: #bc6beb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardDesc {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #bc6beb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.cardCategoria {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 9999px;
  border: 1px solid #d1d5db;
  color: #7f15bd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cardActions {
  display: flex;
  gap: 0.5rem;
}

.btnDetalhes {
  padding: 0.25rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnAdicionar {
  padding: 0.25rem 0.75rem;
  background-color: #ac3dd8;
  color: #fff;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnAdicionar:hover {
  background-color: #9d24c2;
}

/* Mensagem de vazio */
.emptyMessage {
  margin-top: 3rem;
  text-align: center;
  color: #b84ed3;
}

